{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"semi": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"bracketSameLine": false,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"plugins": ["prettier-plugin-multiline-arrays"],
	"multilineArraysWrapThreshold": 10,
	"multilineArraysLinePattern": "10"
}
