html, body {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

button {
    width: 140px;
    height: 36px;
    outline: none;
    border: none;
    background-color: #0ba7e8;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: all .2s;
    border-radius: 4px;
}

button:hover {
    background-color: #34c0fa;
}

textarea {
    margin-top: 10px;
    display: block;
    width: 200px;
    height: 40px;
    outline: none;
}
